[submodule "lollipop-ips-libutils"]
	path = lollipop-ips-libutils
	url = https://github.com/malzantot/lollipop-ips-libutils.git
[submodule "lollipop-ips-sensorservice"]
	path = lollipop-ips-sensorservice
	url = https://github.com/malzantot/lollipop-ips-sensorservice.git
[submodule "lollipop-ip-frameworks_base"]
    path = lollipop-ips-frameworks__base
    url = https://github.com/malzantot/lollipop-ips-frameworks_base.git
[submodule "lollipop-ips-frameworks_base"]
	path = lollipop-ips-frameworks_base
	url = https://github.com/malzantot/lollipop-ips-frameworks_base.git
[submodule "lollipop-ips-sepolicy"]
	path = lollipop-ips-sepolicy
	url = https://github.com/malzantot/lollipop-ips-sepolicy.git
